@CHARSET "UTF-8";
/*header*/
.mainHead {
	max-height: 500px;
	background-color: #ffffff;
}
.indexImg {
	width: 100%;
	max-width: 300px;
	display: block;
    margin: 50px auto;
}

/*section*/
.mainSection {
	height: 500px;
	background-color: yellow;
}
.mainArticle-bookList {
	height: 300px;
	background-color: #E6E6E6;
	border-bottom: 1px solid #BDBDBD;
	text-align : center;
	
}
.mainArticle-csInfo {
	height: 200px;
	background-color: #ffffff;
	border-bottom: 1px solid #BDBDBD;
	text-align: center;
/* 	display : inline; */
	columns : auto 3;
}
.mainArticle-csInfo img{
	width:150px;
}
.mainArticle-bookList p {
	text-align: center;
	font-size:30px;
}
.mainArticle-bookTable table{
	margin:auto;
/* 	margin-right:auto; */
/* 	text-align: center; */
/* 	vertical-align:middle; */
	
}

.indeximg{
	width : 130px;
}

/*footer*/
.mainFooter {
	height: 150px;
	background-color: #ffffff;
	border-bottom: 1px solid #BDBDBD;
	text-align: center;
}
/*memberUpdate*/
.memberPage-form {
	width: 500px;
	margin: 0 auto;
}
/**/
.button-form {
	width: 100%;
	margin: 0 auto;
}
/*productList*/
.productTable td{
	padding: 10px;
}
.productImg {
	width: 150px;
	height: 100px;
	margin: 10px;
}
.button-align {
	text-align: center;
}
.menu-align {
	
	margin: 0 auto;
}