@CHARSET "UTF-8";
/*header*/
.mainHead {
	max-height: 500px;
	background-color: #ffffff;
}
.indexImg {
	width: 100%;
	max-width: 300px;
	align: center;
}
/*section*/
.mainSection {
	height: 500px;
	background-color: yellow;
}
.mainArticle-bookList {
	height: 300px;
	background-color: #E6E6E6;
	border-bottom: 1px solid #BDBDBD;
}
.mainArticle-csInfo {
	height: 200px;
	background-color: #ffffff;
	border-bottom: 1px solid #BDBDBD;
}
/*footer*/
.mainFooter {
	height: 150px;
	background-color: #ffffff;
	border-bottom: 1px solid #BDBDBD;
}
/*memberUpdate*/
.memberPage-form {
	width: 500px;
	margin: 0 auto;
}
/**/
.button-form {
	width: 100%;
	margin: 0 auto;
}